<html>
	<head>
		<title>Single Project</title>
		<!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Latest compiled Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<style>
			html, body{
				height: 100%;
				margin: 0;
			}
			footer {
				height: 50px;
			}
			.mainView {
				min-height: 100%;
				margin-bottom: -50px;
			}
			td { border-right: 1px solid black !important; height: 35px !important;}
			a {color: black !important;}
			.table tbody tr td {
				width: 25;
			}
		</style>
		<meta name="robots" content="noindex nofollow">
  	</head>
    <body class="container">

    	<!-- Begin Header Container-->
    	<div class="container">
    		<div class="row pt-2 pr-3">
	    		<div class="col-10 empty-container">
			  	</div>
				<div class="col-1 justify-content-lg-right">
					<h4 id="logo"><a href="/">mypmwork.com</a></h4>
  				</div>
  			</div>
    		<div class="row justify-content-lg-center">
				<div class="col col-lg-auto pt-0">
			  		<h1>{{dbProjects.projectName}}</h1>
		  		</div>
		  	</div>
    	</div>
    	<!-- End Header Container-->

    	<!-- Begin User Info Container -->
    	<div class="container">
    		<div class="row">
  				<div class="col-5">
					<div class="row pt-2">
						<div class="col">
							<span class="font-weight-bold">Username</span>
							<span id="username">{{dbUser.username}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col">
	    					<span class="font-weight-bold">Role</span>
	    					<span id="userRoll">{{dbUser.userrole}}</span>
	    				</div>
	    			</div>	
	    		</div>
				<div class="col-4 pt-4">
      				<button id="projectSummaryButton" class="button pr-1" style="background:#417DB5; color:black !important"><a href="/projectSummary">Summary</a></button>
      				<button id="projectTrackingButton" class="button pl-1"><a href="/projectTracking">Tracking</a></button>
				</div>
				<div class="col-1 empty-container">
				</div>
				<div class="col-2 pt-4">
	  				<button id="createNewTask" class="float-right"><a href="/createTask">Create New Task</a></button>
  				</div>
			</div>
		</div>
    	<!-- End User Info Container -->

    	<!-- Begin Main View Container -->
		<div class="mainView container pt-2 table-responsive">
      		<table class="table border border-dark table-striped">
      			<thead class="thead-dark">
	      			<tr class="border border-dark">
	      				<th scope="col-3">
	      					Task Name
	      				</th>
	      				<th scope="col-4">
	      					Task Description
	      				</th>
	      				<th scope="col">
	      					Due Date
	      				</th>
	      				<th scope="col">
	      					Assignee
	      				</th>
      				</tr>
      			</thead>
      			<tbody>
					  {{#each dbTasks}} 
						<tr scope="row">
							<td class="taskNameField"><a href="/task">{{taskName}}</a></td>
							<td class="taskDescriptionField">{{taskDescription}}</td>
							<td class="taskDueDateField">{{dueDate}}</td>
							<td class="taskAssignee">{{assignee}}</td>
						</tr>
					  {{/each}}
	      		</tbody>
      		</table>
      	</div>
      	<!--End Main View Container -->
		<!-- Begin Footer -->
	    <footer class="footer">
	    	<!-- Begin Footer Row -->
	    	<div class="row">
	    		<!-- Begin empty left column -->
	    		<div class="col">
	    		</div>
	    		<!-- End empty left column -->

	    		<!-- Begin Middle column -->
				<div class="col-6">
					<ul class="nav justify-content-center">
						<li class="nav-item"><a class="nav-link" href="/">mypmwork.com</a></li>
						<li class="nav-item"><a class="nav-link" href="/">help</a></li>
						<li class="nav-item"><a class="nav-link" href="/">resources</a></li>
						<li class="nav-item"><a class="nav-link" href="/siteMap">about</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">sign out</a></li>
					</ul>
	    		</div>
	    		<!-- End Middle column -->

	    		<div class="col">
	    		</div>
	    		<!-- End empty right column -->
	    	</div>
	    	<!-- End Footer Row-->
	    </footer>
	    <!-- End Footer -->
    </body>
</html>